$primary-light: #fdf2e9;
$primary-medium: #eb984e;
$primary: #e67e22;
$primary-dark: #cf711f;

$grey: #555555;
$grey-dark: #333333;
$grey-light: #dddddd;

$red: #fa5252;
$green: #51cf66;
$blue: #2980b9;
$magenta: #8e44ad;

$white: #fff;

.margin-right-sm {
  margin-right: 1.6rem !important;
}
