@use "../abstracts/variables";

.section-hero {
  background-color: variables.$primary-light;
  padding: 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;

  &-img {
    width: 100%;
  }

  &-title {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.5px;
    color: variables.$grey-dark;
    margin-bottom: 3.2rem;
  }

  &-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: variables.$grey;
  }

  &-customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;

    &-imgs {
      display: flex;

      & img {
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        margin-right: -1.6rem;
        border: 3px solid variables.$primary-light;

        &:last-child {
          margin: 0;
        }
      }
    }

    &-text {
      font-size: 1.8rem;
      font-weight: 600;

      & span {
        color: variables.$primary-dark;
        font-weight: 700;
      }
    }
  }
}
